/* Transparent Navbar */

.transparent-header {
  position: absolute;
  top: 0px;
  z-index: 1;
  background: linear-gradient(rgba(0,0,0,0.25), transparent);
  width: 100%;
  height: 50px
}
.transparent-container {
  padding-left: 10px;
  padding-right: 10px
}
.transparent-logo {
  padding: 8px;
  margin-top: 3px;
  height: 48px
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  margin-top: 5px;
  font-weight: 400;
  border-left: 1px solid #555
}
.list-drone {
  border: none !important
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #f0f0f0;
  background: #444
}
.navbar-nav > li > a {
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 300;
  font-size: 14.5px
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  color: #f0f0f0;
  background-color: transparent
}
.navbar-brand-mobile {
    padding: 6px;
    height: 40px;
    margin-top: 4px !important;
}


/* App Navbar */

.navbar-app {
  min-height: 50px
}
.nav-logo-wrapper {
  height: 50px;
  border-right: 1px solid #555
}
.nav-logo-wrapper:hover {
  background: #444
}
.navbar-app-brand {
  padding: 6px;
  margin-top: 4px;
  height: 42px
}
.navbar-app-container {
  padding-right: 0px;
  padding-left: 0px
}
.navbar-default .navbar-nav > li > a.navbar-app-link {
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 0px;
  font-size: 14px
}

@media (min-width: 768px) {
  .container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
    margin-right: 0
  }
}

.navbar-search {
  margin-top: 4px;
  margin-bottom: 0px
}
.navbar-search-input {
  background: transparent;
  border: none !important;
  font-family: "Helvetica Neue" !important;
  color: #f0f0f0;
  font-size: 14px !important
}
.navbar-search-input::-webkit-input-placeholder { color: #f0f0f0 !important }
.navbar-search-input:-moz-placeholder { color: #f0f0f0 !important }
.navbar-search-input::-moz-placeholder { color: #f0f0f0 !important }
.navbar-search-input:-ms-input-placeholder { color: #f0f0f0 !important }

.navbar-search-input:focus { box-shadow:none !important }

/* Big Navbar */

.navbar-brand {
	padding: 6px;
	height: 45px
}
.navbar-center-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  margin-top: 9px
}

/* Misc */

*:focus { outline:none !important }
.grey {
  color: #555
}
.thin-text {
  font-weight: 300
}
.medium-text {
  font-weight: 400
}
.no-margin {
  margin : 0
}
.text-shadow {
  text-shadow: 0 0 1px rgba(0,0,0,0.3)
}
.bring-front {
  z-index: 1
}
.no-padding {
  padding-left: 0px;
  padding-right:0px
}
.no-underline:hover {
  text-decoration: none
}
.space-3 {
  margin-bottom: 18.75px
}
.space-4 {
  margin-bottom: 25px
}
.space-8 {
  margin-bottom: 50px
}
.space-top-8 {
  margin-top: 50px
}


/* Modal */

@media (min-width: 768px) {
    .modal-dialog {
      margin: 100px auto
    }
}
.forgot-password {
  font-size: 12px;
  margin-top: -8px;
  margin-bottom: 10px
}
.small-spacer {
	margin-top: 12px;
	margin-bottom: 12px
}
.form-control {
  border: 1px solid #D8DFE6;
  webkit-box-shadow: none;
  box-shadow: none;
  padding: 20px 10px;
  font-size: 16px
}
.form-control::-webkit-input-placeholder { color: #d0d2d3 }
.form-control:-moz-placeholder { color: #d0d2d3 }
.form-control::-moz-placeholder { color: #d0d2d3 }
.form-control:-ms-input-placeholder { color: #d0d2d3 }

.no-margin {
  margin: 0px
}

@media (min-width: 768px) {
  .signup-form {
    margin: 0px 50px
  }
}

/* Buttons */

.btn {
	padding: 10px 12px;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 15px
}
.btn-lowercase {
  text-transform: none
}
.btn-default {
  background: #fff
}
.btn-default:hover {
  background: #fff
}

.btn-list-drone {
  margin-top: 8px !important;
  margin-right: 15px;
  text-transform: none;
  border: 2px solid #f0f0f0 !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important
}
.btn-white-outline {
  border: 2px solid #fff;
  border-radius: 2px;
  padding: 4px 12px !important;
  margin-top: 10px;
  margin-right: 10px
}

.btn-white-outline:hover, .btn-white-outline:focus {
  background-color: rgba(0,0,0,.25) !important
}

.btn-facebook {
	color: #fff;
  background-color: #3B5998;
  border-color: #3B5998;
  text-transform: none;
  font-size: 15px;
  padding: 10px 30px
}
.btn-facebook:hover, .btn-facebook:focus  {
	color: #fff;
  background-color: #3B5998;
  border-color: #3B5998;
  text-transform: none
}

.btn-facebook .cta-text::before, button.btn-facebook .cta-text::before {
  content: '';
  background-image: url(http://lyft.com/images/vendor-lyft/icons/facebook-icon.b867728f.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  width: 1.25em;
  height: 1.25em;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -.625em
}

.cta-text {
	position: relative;
  padding-left: 2em
}




/* Landing Page */

.home-logo {
  position: absolute;
  top: 10px;
  left: 25px;
  width: 75px;
  z-index: 1
}
.home-login {
  position: absolute;
  top: 20px;
  right: 40px;
  color: #fff;
  font-size: 16px;
  z-index: 1
}
.home-login:hover, .home-login:focus, .home-login:active {
  color: #fff;
  text-decoration: none
}
.home-avatar {
  position: absolute;
  top: 12px;
  right: 50px;
  width: 35px;
  z-index: 1;
  border: 2px solid #fff
}
#landing-video {
  width: 100%
}
.drone-card {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 320px
}
.panel-overlay-listing-label {
  bottom: 30px;
  padding: 7px 10px;
  z-index: 1
}
.panel-overlay-label {
  background-color: rgba(60,63,64,0.9);
  padding: 10px;
  color: #fff
}
.panel-overlay-top-left, .panel-overlay-top-right, .panel-overlay-bottom-left, .panel-overlay-bottom-right {
  position: absolute
}
.va-middle {
  vertical-align: middle
}
.va-top, .va-middle, .va-bottom {
  display: table-cell
}
.va-container-h {
  width: 100%
}
.va-container-v {
  height: 100%
}
.va-container {
  display: table;
  position: relative;
  z-index: 1
}
.drone-card > .va-container:after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.2);
  z-index: -1
}

.rent-banner-title {
  font-size: 18px;
  line-height: 1.1
}
@media (min-width: 1100px) {
  .rent-banner {
    padding-left: 5px;
    padding-right: 5px
  }
}
.rent-banner-mobile {
  height: 300px
}
.rent-banner-background {
  background-image: url('http://i.imgur.com/TNuYOsQ.jpg');
  height: 100%
}
.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat
}
.rent-cover, .rent-cover-dark:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}
.rent-banner-content {
  color: #fff;
  text-align: center
}



.carousel-image {
  min-height: 309.984px;
}


/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  h2 {
    font-size: 25px
  }
  .drone-img {
    padding: 0 !important
  }
}

@media (min-width: 768px) {
.landing {
  height: 600px
}
.landing-content {
  height: 550px;
  padding-bottom: 104px;
  top: 50px
  }
}
.videoContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden
}
.videoContainer video {
  min-width: 100%;
  min-height: 100%
}
#video_overlays {
  position: absolute;
  float: left;
  width: 640px;
  min-height: 370px;
  background-color: #000;
  z-index: 10
}
.landing {
  position: relative
}
.landing-background {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0
}
.landing-content {
  position: relative;
  z-index: 2
}
.landing-content-footer {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.25));
  bottom: 0;
  left: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  position: absolute;
  right: 0
}
.landing-container-h {
  width: 100%
}
.landing-container-v {
  height: 100%
}
.landing-container {
  display: table;
  position: relative
}
.landing-middle {
  vertical-align: middle;
  display: table-cell
}
.text-contrast {
  color: #fff
}
.text-branding {
  text-transform: uppercase
}
.text-jumbo {
  font-size: 60px;
  font-weight: 500 !important
}

@media only screen and (max-width: 768px) { 
  .landing {
    height: 400px
  }
 .text-jumbo {
    margin-top: 120px;
    font-size: 30px;
    min-height: 100px

  }
  .text-contrast {
    min-height: 30px
  }
  .landing-content-footer {
    min-height: 50px
  }
  .landing-content {
    min-height: 420px
  }
}
.btn-contrast {
  font-weight: 500;
  border-color:#565a5c;
  border-bottom-color:#383b3c;
  background-color:#565a5c;
  color:#fff;
  margin-top:10px
}
.btn-contrast:hover {
  background-color: rgba(0,0,0,.5)
} 
.btn-contrast:focus {
  border-color: #676c6e;
  border-bottom-color: #444749;
  background-color: #676c6e !important;
  color: #fff !important
}
.btn-semi-transparent {
  background: #ffffff;
  background: rgba(255,255,255,0.5);
  border-style: none;
  color: #fff !important
}
.btn-large {
  padding: 9px 27px;
  font-size: 16px
}

/* Lower Landing Content */

input.mobile-landing-address, button.mobile-landing-address {
  height: 50px;
  font-size: 18px;
  box-shadow: none;
  margin-top:20px;
  border: none
}


input.landing-address, button.landing-address {
  height: 50px;
  font-size: 18px;
  box-shadow: none;
  margin-top: 15px;
  border: none
}




/* Carousel Fade */
.carousel-fade {
  .carousel-inner {
    .item {
      transition-property: opacity
    }
    .item,
    .active.left,
    .active.right {
      opacity: 0
    }
    .active,
    .next.left,
    .prev.right {
      opacity: 1
    }
    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0)
    }
  }
}
